html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Bitter", sans-serif;
  color: #000;
  background-color: #00FFFF;
}

#grad {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(cyan, pink); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(cyan, pink); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(cyan, pink); /* For Firefox 3.6 to 15 */
    background: linear-gradient(cyan, pink); /* Standard syntax */
}